#sidebar {
    position: fixed !important;
    top: 80px !important;
    left: 200px !important;
    width: 260px !important;
    height: calc(100% - 100px) !important;
    background: var(--neutralDark) !important;
    border: var(--border) !important;
    box-shadow: var(--shadowBox) !important;
    z-index: 999 !important;
}
