#sidebar {
    position: fixed;
    top: 80px; /* sous le module persona / header */
    marging-left: 200px; /* décalage depuis le bord gauche */
    width: 260px;
    height: calc(100% - 100px);
    background: var(--neutralDark);
    box-shadow: var(--shadowBox);
    z-index: 999;
    transform: translateX(0); /* visible de base */
    transition: transform 0.3s ease;
}
