/***** POLICES *****/
.mansalva {
  font-family: "Mansalva", sans-serif;}

.limelight {
  font-family: "Limelight", sans-serif;}

.homemade-apple {
  font-family: "Homemade Apple", cursive;}

.newsreader {
  font-family: "Newsreader", serif;}

.germania-one {
  font-family: "Germania One", system-ui;}

.berkshire-swash {
  font-family: "Berkshire Swash", serif;}

.faustina {
  font-family: "Faustina", serif;}

.playfair {
  font-family: "Playfair", serif;}

.cinzel {
  font-family: "Cinzel", serif}

.crimson {
  font-family: "Crimson Text", serif;}

.unifrakturcook {
  font-family: "UnifrakturCook", cursive;}
